body {
  font-family: "Merriweather", serif;
}

.height {
  min-height: 50vh;
}

.my-list-elem {
  background: transparent !important;
  border: none !important;
  margin-left: 60px;
}

.list-group-ordered {
  list-style: decimal inside !important;
}

.list-group-item-ordered {
  display: list-item !important;
}

.color-picture {
  background: url(http://www.theodora.com/gif4/html_colors.gif) center/cover
    no-repeat fixed;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #2a9134;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.item-1,
.item-2,
.item-3 {
  min-height: 10vh;
  clip-path: polygon(0 0, 95px 0, 130px 130px, 0 130px);
}

.horzLine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  /* background: #fff; */
}



.horzLine:before,
.horzLine:after {
  background: black;
  height: 2px;
  flex: 1;
  content: '';
}
.polygon {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background: grey;
}
